#!/bin/bash
set -euo pipefail

{{ range .system.packages -}}
if ! pacman -Qi {{ . | quote }} &>/dev/null ; then
  echo "Installing package {{ . | quote }}"

  paru -S --noconfirm {{ . | quote }}
fi
{{ end -}}
{{ range .environment.packages -}}
if ! pacman -Qi {{ . | quote }} &>/dev/null ; then
  echo "Installing package {{ . | quote }}"

  paru -S --noconfirm {{ . | quote }}
fi
{{ end -}}
{{ range .theme.packages -}}
if ! pacman -Qi {{ . | quote }} &>/dev/null ; then
  echo "Installing package {{ . | quote }}"

  paru -S --noconfirm {{ . | quote }}
fi
{{ end -}}
{{ range .utilities.packages -}}
if ! pacman -Qi {{ . | quote }} &>/dev/null ; then
  echo "Installing package {{ . | quote }}"

  paru -S --noconfirm {{ . | quote }}
fi
{{ end -}}
{{ range .apps.packages -}}
if ! pacman -Qi {{ . | quote }} &>/dev/null ; then
  echo "Installing package {{ . | quote }}"

  paru -S --noconfirm {{ . | quote }}
fi
{{ end -}}
{{ range .dev.packages -}}
if ! pacman -Qi {{ . | quote }} &>/dev/null ; then
  echo "Installing package {{ . | quote }}"

  paru -S --noconfirm {{ . | quote }}
fi
{{ end -}}
