{{ if eq .chezmoi.os "windows" -}}
{{ range .windows.apps -}}
winget install --id {{ . | quote }}
{{ end -}}
{{ range .windows.sudos -}}
gsudo winget install --id {{ . | quote }}
{{ end -}}
{{ end -}}
