{{ if eq .chezmoi.os "darwin" -}}
#!/bin/bash
set -euo pipefail

echo "Installing brews and casks"

{{ range .macos.taps -}}
brew tap {{ . | quote }}
{{ end -}}
brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range .macos.brews -}}
brew {{ . | quote }}
{{ end -}}
{{ range .macos.casks -}}
cask {{ . | quote }}
{{ end -}}
EOF
{{ end -}}