{{ if eq .chezmoi.os "linux" -}}
#!/bin/bash
set -euo pipefail

echo "Applying GRUB theme"

if [ ! -d /boot/grub/themes ]; then
  sudo mkdir -p /boot/grub/themes
fi

sudo cp -r ~/.local/share/chezmoi/boot/grub2/themes/bigsur /boot/grub/themes

sudo cp /etc/default/grub /etc/default/grub.bak

sudo cp ~/.local/share/chezmoi/etc/default/grub /etc/default/grub

sudo grub-mkconfig -o /boot/grub/grub.cfg
{{ end -}}
