{{ if eq .chezmoi.os "linux" -}}
#!/bin/bash
set -euo pipefail

echo "Installing packages..."

{{ range .packages.linux.packages -}}
if ! pacman -Qi {{ . | quote }} &>/dev/null ; then
  paru -S --noconfirm {{ . | quote }}
fi
{{ end -}}
{{ range .packages.linux.flatpaks -}}
if ! flatpak info {{ . | quote }} &>/dev/null ; then
  flatpak install -y flathub {{ . | quote }}
fi
{{ end -}}
{{ else if eq .chezmoi.os "darwin" -}}
#!/bin/bash
set -euo pipefail

echo "Installing packages..."

{{ range .packages.macos.casks -}}
if ! brew list {{ . | quote }} &>/dev/null ; then
  brew install --cask -q {{ . | quote }}
fi
{{ end -}}
{{ range .packages.macos.brews -}}
if ! brew list {{ . | quote }} &>/dev/null ; then
  brew install -q {{ . | quote }}
fi
{{ end -}}
{{ end -}}
