{{ if eq .chezmoi.os "linux" -}}
#!/bin/bash
set -euo pipefail

echo "Installing packages..."
<<EOF
{{ range .packages.linux.packages -}}
paru -S --needed --noconfirm {{ . | quote }}
{{ end -}}
{{ range .packages.linux.flatpaks -}}
flatpak install -y flathub {{ . | quote }}
{{ end -}}
EOF
{{ end -}}