{{ if eq .chezmoi.os "linux" -}}
#!/bin/bash
set -euo pipefail

{{ range .linux.packages -}}
if ! pacman -Qi {{ . | quote }} &>/dev/null ; then
  echo "Installing package {{ . | quote }}"

  paru -S --noconfirm {{ . | quote }}
fi
{{ end -}}
{{ range .linux.flatpaks -}}
if ! flatpak info {{ . | quote }} &>/dev/null ; then
  echo "Installing flatpak {{ . | quote }}"

  flatpak install -y flathub {{ . | quote }} &>/dev/null
fi
{{ end -}}
{{ end -}}