@import "./themes/rose-pine.css";

* {
  border: none;
  border-radius: 0;
  font-family: "NotoSans Nerd Font", Helvetica, Arial, sans-serif;
  font-size: 13px;
  min-height: 0;
}

window#waybar {
  background: transparent;
  color: @foam;
}

tooltip {
  background: @overlay;
  border: 1px solid @base;
  border-radius: 5px;
}

tooltip label {
  color: @text;
}

#custom-os {
  color: @pine;
  padding: 0.25em 0;
  margin: 0.5em 0;
  margin-left: 1em;
}

#workspaces {
  background-color: @surface;
  padding: 0.25em 0.5em;
  margin: 0.5em 0;
  margin-left: 0.5em;
  border-radius: 4px;
}

#workspaces button {
  padding: 0.25em 0.5em;
  font-weight: bold;
  border-radius: 4px;
  color: @text;
}

#workspaces button.active {
  color: @pine;
}

#window {
  background-color: @surface;
  padding: 0.25em 0.75em;
  margin: 0.5em 0;
  margin-left: 0.5em;
  border-radius: 4px;
}

window#waybar.empty #window {
    background-color: transparent;
}

#clock {
  background-color: @surface;
  padding: 0.25em 1em;
  margin: 0.5em 0;
  border-radius: 4px;
  color: @gold;
}

#tray {
  background-color: @surface;
  padding: 0.25em 0.75em;
  margin: 0.5em 0;
  margin-right: 0.5em;
  border-radius: 4px;
}

#network {
  background-color: @surface;
  padding: 0.25em 0.75em;
  margin: 0.5em 0;
  margin-right: 0.5em;
  border-radius: 4px;
  color: @text;
}

#wireplumber {
  background-color: @surface;
  padding: 0.25em 0.75em;
  margin: 0.5em 0;
  margin-right: 0.5em;
  border-radius: 4px;
  color: @iris;
}

#custom-wlogout {
  background-color: @surface;
  padding: 0.25em 0.75em;
  margin: 0.5em 0;
  margin-right: 1em;
  border-radius: 50%;
  color: @love;
}
