@import "./themes/rose-pine.css";

* {
  border: none;
  border-radius: 0;
  font-family: "NotoSans Nerd Font", Helvetica, Arial, sans-serif;
  font-size: 13px;
  min-height: 0;
  background: transparent;
}

window#waybar {
  background: alpha(@base, 0.2);
  color: @foam;
  border-radius: 9999px;
}

tooltip {
  background: @overlay;
  border: 1px solid @base;
  border-radius: 5px;
}

tooltip label {
  color: @text;
  padding: 0.25em 0.5em;
}

#custom-os {
  background-color: @text;
  color: @base;
  padding: 0.25em 0.69em;
  margin: 0.5em 0;
  margin-left: 1em;
  border-radius: 50%;
}

#utilities {
  margin-left: 1.5em;
  margin-right: 1em;
  border-radius: 9999px;
  color: @text;
}

#custom-resources {
  margin-left: 1em;
}

#workspaces {
  background-color: @surface;
  padding: 0.25em 0.5em;
  margin: 0.5em 0;
  margin-left: 0.5em;
  border-radius: 4px;
}

#workspaces button {
  padding: 0.25em 0.5em;
  font-weight: bold;
  border-radius: 4px;
  color: @text;
}

#workspaces button.active {
  color: @rose;
}

#custom-divider {
  padding: 0.25em 0.75em;
  padding-right: 0;
  margin: 0.5em 0;
  margin-left: 0.5em;
  color: @rose;
}

#window {
  padding: 0.25em 0.75em;
  margin: 0.5em 0;
  margin-left: 0.5em;
  color: @rose;
}

window#waybar.empty #window {
  background-color: transparent;
}

#custom-weather {
  background-color: @surface;
  padding: 0.25em 1em;
  margin: 0.5em 0;
  margin-right: 0.5em;
  border-radius: 9999px;
  color: @foam;
}

#clock {
  background-color: @surface;
  padding: 0.25em 1em;
  margin: 0.5em 0;
  border-radius: 9999px;
  color: @gold;
}

#media {
  background-color: @surface;
  padding: 0.25em 1em;
  margin: 0.5em 0;
  border-radius: 9999px;
  color: @text;
  margin-left: 0.5em;
}

#custom-media-previous {
  margin-right: 0.5em;
}

#custom-media-playpause {
  background-color: @rose;
  color: @base;
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin-right: 0.5em;
  border-radius: 50%;
}

#custom-media-track {
  margin-left: 0.5em;
  color: @rose;
}

#custom-backlight {
  background-color: @gold;
  padding-left: 0.4em;
  padding-right: 0.4em;
  margin: 0.75em 0;
  border-radius: 50%;
  color: @base;
  margin-right: 0.5em;
}

#tray {
  background-color: @surface;
  padding: 0.25em 0.75em;
  margin: 0.5em 0;
  margin-right: 0.5em;
  border-radius: 4px;
}

#wireplumber {
  background-color: @surface;
  padding: 0.25em 0.75em;
  margin: 0.5em 0;
  margin-right: 0.5em;
  border-radius: 4px;
  color: @iris;
}

#network {
  background-color: @surface;
  padding: 0.25em 0.75em;
  margin: 0.5em 0;
  margin-right: 0.5em;
  border-radius: 4px;
  color: @text;
}

#notifs {
  background-color: @surface;
  padding: 0.25em 0.75em;
  margin: 0.5em 0;
  margin-right: 0.5em;
  border-radius: 4px;
}

#custom-swaync {
  margin-right: 0.75em;
  color: @gold;
}

#custom-wlogout {
  background-color: @surface;
  padding: 0.25em 0.69em;
  margin: 0.5em 0;
  margin-right: 1em;
  border-radius: 50%;
  color: @love;
}
