[Unit]
Description=Auto start service
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
ExecStart=/home/astherae/.local/bin/autostart.sh
Restart=on-failure
